.search {
    margin: 10px;
}

.order-by {
    padding-left: 30px;
    .order-label {
        flex: 1;
    }
    .select-box {
        flex: 4;
    }
}

.list {
    margin: 10px;
    .pagination {
        justify-content: center;
        margin-top: 20px;
    }
}

.image-list {
    .image-item {
        height: 300px;
    }
}

.mock-pagination {
    margin-top: 30px;
    margin-bottom: 30px;
}
.detail-card {
    margin-top: 20px;
    .image-detail {
        justify-content: space-between;
    }
}


@media screen and (max-width: 768px) {
    .order-by {
        display: block;
        padding-left: 0px;
        .order-label {
            flex: 2;
        }
        .select-box {
            flex: 2;
        }
    }

    .image-wrap {
        align-items: flex-start;
    }
}
